/* Range Slider */
.range-label {
  -fx-font-weight: bold;
  -fx-text-fill: #ffffff; /* White text for range label */
}

.range-minmax {
  -fx-font-size: 12px;
  -fx-text-fill: #ffffff; /* White text for min/max */
}

.range-text-field {
  -fx-pref-width: 55px;
  -fx-background-color: #333333; /* Dark background for the text field */
  -fx-border-color: #555555; /* Darker border */
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-text-fill: #ffffff; /* White text */
}

.range-text {
  -fx-background-color: #333333; /* Dark background */
  -fx-border-color: #555555; /* Darker border */
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-text-fill: #ffffff; /* White text */
}

.range-control {
  -fx-padding: 5px;
  -fx-background-color: #333333; /* Dark background */
  -fx-border-color: #555555; /* Darker border */
}

/* Drag and Zoom Pane */
.content-pane {
  -fx-background-color: #424242; /* Dark gray background */
  -fx-border-color: #555555; /* Darker border */
}

/* Container */
.container-title {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-text-fill: #ffffff; /* White text */
}

.container-container {
  -fx-padding: 10px, 5px;
  -fx-background-color: #333333; /* Dark background */
  -fx-border-color: #444444; /* Darker border */
}

/* Error */
.error-title {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-text-fill: red;
}

.error-message {
  -fx-font-weight: bold;
  -fx-text-fill: #ffffff; /* White text */
}

.error-container {
  -fx-padding: 10px, 5px;
  -fx-background-color: #424242; /* Dark background */
  -fx-border-color: #555555; /* Darker border */
}
